/* _base.scss */
body {
  line-height: 1;
  font-family: "Playfair Display", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: rgb(255, 255, 255);
  margin: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
}

a {
  text-decoration: none;
}
a:hover {
  color: rgb(3, 169, 244);
}

.container {
  width: 908px;
  margin: 0 auto;
}

body,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  padding: 71px 183px 92px 168px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 99px;
  margin: 0 auto;
  list-style: none;
  text-transform: uppercase;
  color: rgb(125, 125, 125);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__link {
  color: rgb(125, 125, 125);
  line-height: 18.66px;
  font-weight: 400;
}

:root {
  --paragraph-color: rgba(125, 125, 125, 1);
  --link-color: rgba(3, 169, 244, 1);
  --subtitle-color: rgba(180, 173, 158, 1);
  --article-text-color: rgba(98, 98, 98, 1);
  --background-color: rgba(255, 255, 255, 1);
  --main-font: "Playfair Display", sans-serif;
  --secondary-font: "Ubuntu", sans-serif;
}

body {
  line-height: 1;
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  background-color: var(--background-color);
  margin: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--link-color);
}

.container {
  width: 908px;
  margin: 0 auto;
}

body,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

.header {
  padding: 71px 183px 92px 168px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 99px;
  margin: 0 auto;
  list-style: none;
  text-transform: uppercase;
  color: var(--paragraph-color);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__link {
  color: var(--paragraph-color);
  line-height: 18.66px;
  font-weight: 400;
}

.hero {
  padding: 0 147px 66px;
}

.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 65px;
  row-gap: 130px;
  margin-bottom: 94px;
  list-style: none;
}

.hero__item {
  -ms-flex-preferred-size: calc((100% - 65px) / 3);
      flex-basis: calc((100% - 65px) / 3);
}

.hero__image,
.hero__subtitle {
  margin-bottom: 32px;
}

.hero__title {
  margin-bottom: 40px;
  font-size: 30px;
  color: var(--article-text-color);
  line-height: 16.09px;
  font-weight: 400;
}

.hero__subtitle {
  color: var(--subtitle-color);
  font-family: var(--secondary-font);
  line-height: 100%;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 14px;
}

.hero__description {
  font-family: var(--main-font);
  color: var(--article-text-color);
  font-weight: 400;
  line-height: 18.66px;
  font-size: 14px;
}

.button {
  background-color: var(--background-color);
  color: var(--article-text-color);
  border: 1px solid var(--article-text-color);
  font-weight: 400;
  display: block;
  margin: 0 auto;
  padding: 20px 48px 21px 49px;
  line-height: 18.66px;
  font-size: 14px;
}/*# sourceMappingURL=main.css.map */