@use '../base/reset' as *;
@use '../utils/variables' as *;
@use '../base/base' as *;

.header {
	padding: 71px 183px 92px 168px;

	&__list {
		display: flex;
		align-items: center;
		gap: 99px;
		margin: 0 auto;
		list-style: none;
		text-transform: uppercase;
		color: $paragraph-color;
		justify-content: center;
	}

	&__link {
		color: $paragraph-color;
		line-height: 18.66px;
		font-weight: 400;
	}
}
