/* _base.scss */
@use '../utils/variables' as *;

body {
	line-height: 1;
	font-family: $main-font;
	font-size: 14px;
	font-weight: 400;
	background-color: $background-color;
	margin: 0;
}

button {
	cursor: pointer;
	font-family: inherit;
}

a {
	text-decoration: none;

	&:hover {
		color: $link-color;
	}
}

.container {
	width: 908px;
	margin: 0 auto;
}

body,
h2,
h3,
p,
ul {
	margin: 0;
	padding: 0;
}
